
<div class="row">
    <div class="col-md-6">
        <h2>{{ title }}</h2>
    </div>
    <div class="col-md-6 text-end btn-sm" (click)="toggleForm()">
        <button 
            class="btn"
            [ngClass]="{
                'btn-warning': new,
                'btn-success': !new
            }"
            [ngStyle]="{
                'font-size': new ? '20px' : '12px'
            }"
            >
            New course
        </button>
    </div>
</div>

<div class="row" *ngIf="new">
    <div class="col-md-8 mx-auto">

        <input [(ngModel)]="newCourse.label" type="text" class="form-control mt-2" placeholder="Tape the course ">
        <input [(ngModel)]="newCourse.price" type="text" class="form-control mt-2" placeholder="Tape the price ">
        
        
        <div *ngIf="newCourse.label" class="d-grid gap-2 my-2">
            <button [disabled]="!newCourse.label" (click)="createCourse()" class="btn btn-danger btn-sm mt-2">Add</button>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let course of listCourses">
            <td>{{ course.id }}</td>
            <td>{{ course.label }}</td>
            <td>{{ course.price }}</td>
            <td class="text-end">
                <button class="btn btn-dark btn-sm" (click)="deleteCourse(course)">Delete</button>
            </td>
        </tr>
       
    </tbody>
</table>